<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Sample Application -- Simple Data Maintenance</title>
    
    <style type="text/css">
        @import "$siteRoot/Content/css/minimal.css";
    </style>

</head>
<body>
	<div id="header">
		<a class="headerLink" href="$siteRoot/home/index.rails">
			<h1>Sample Application</h1>
			<h2>Simple Data Maintenance</h2>
		</a>
	</div>
    <div id="main">
        <div id="content">
            $childContent
        </div>
    </div>
    <div id="footer">
        <p>
            Developed by Stuart Laughlin, 2009
        </p>
    </div>
</body>
</html>
