<div class='page'>
	<div class='menu'>
		<form>
			<div>
				<h2>Maintenance Menu</h1>
				<ol>
					<li> $UrlHelper.Link("Test Link", "%{controller='test', action='index'}")</li>
					#foreach ($entityType in $entityTypes)
						<li>$UrlHelper.Link($TextHelper.PascalCaseToWord("$entityType.EntityName"), "%{area='', controller='maintenance', action='index', querystring='entityName=$entityType.EntityName'}")</li>
					#end
				</ol>
			</div>
		</form>
	</div>
</div>