<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility id="nhibernate"
				  isWeb="true"
				  type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration">

			<factory id="session.factory">
				<settings>
					<item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
					<item key="connection.driver_class">NHibernate.Driver.SqlClientDriver</item>
					<item key="connection.connection_string">Data Source=.;Initial Catalog=Sample;user=sa;password=l3tm31n</item>
					<item key="dialect">NHibernate.Dialect.MsSql2005Dialect</item>
					<item key="show_sql">true</item>
					<item key="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</item>
					<item key="default_entity_mode">dynamic-map</item>
				</settings>
			</factory>
		</facility>
	</facilities>
</configuration>